*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;

}
li{
    list-style-type: none;
}
nav{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(24deg, red,orange,red );
    color: white;
    padding: 20px;
}
.options{
    padding: 10px;
}
.options a{
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.options a:hover{
    background: rgb(184, 1, 1);
}
.mobile-nav{
    display: none;
    padding: 10px;
}
.menu-open-btn{
    font-size: larger;
    font-weight: bolder;
    color: white;
    font-size: 1.6em;
}
.menu-close-btn{
    font-size: 2em;
    font-weight: bolder;
    color: white;
    display: none;
}
.mobile-nav-items{
    /* min-height: 100vh; */
    height: 0;
    /* display: none; */
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 5, 5);
}
.mobile-nav-item{
    display: block;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}
.mobile-nav-item:hover{
  background-color: rgb(184, 1, 1);
  color: rgba(255, 255, 255);
}
.nav-items{
    display: none;
}

@media(max-width:800px){
    nav{
        background: red;
        padding: 15px;
    }
   
    .options{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .nav-items{
        display: none;
        transition-delay: 4000ms;
        transition: display 1.5s;
        transition-timing-function: ease-in-out;
    }
    .mobile-nav-items{
        transition: height 1.5s;
    }
}