{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'house_app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'house_app/css/bootstrap.min.css' %}">
    {% if title %}
        <title>House Sale |{{title}}</title>
    {% else %}
        <title>House Sale</title>
    {% endif %}
        
</head>
<body>
   <header>
        <nav class="nav navbar">
            <div><a href="{% url 'appl:home' %}" class="logo">HouseSale</a></div>
            <div class="options">
                
                {% if user.is_authenticated %}
                    <a href="{% url 'appl:logout' %}">Log Out</a>
                    <a href="">Houses</a>
                    <a href="">Ware Houses</a>
                    <a href="">Land</a>
                {% else %}
                    <a href="{% url 'appl:home' %}">Home</a>
                    <a href="{% url 'appl:register' %}">Sign Up</a>
                    <a href="{% url 'appl:login' %}">Login</a>
                    <a href="">Houses</a>
                    <a href="">Ware Houses</a>
                    <a href="">Land</a>
                {% endif %}
                    
            </div>
            <div class="mobile-nav">
                <a href="#" class="menu-open-btn">&#9776;</a>
                <a href="#" class="menu-close-btn">&times;</a>
            </div>
        </nav>
        <div class="mobile-nav-items">
            <div class="nav-items">
               
               {% if user.is_authenticated %}
                    <a href="" class="mobile-nav-item">Houses</a>
                    <a href="" class="mobile-nav-item">WareHouses</a>
                    <a href="" class="mobile-nav-item">Land</a>
                    <a href="{% url 'appl:logout' %}" class="mobile-nav-item">Log Out</a>
                {% else %}
                    <a href="{% url 'appl:home' %}" class="mobile-nav-item">Home</a>
                    <a href="{% url 'appl:register' %}" class="mobile-nav-item">Sign Up</a>
                    <a href="{% url 'appl:login' %}" class="mobile-nav-item">Login</a>
                    <a href="" class="mobile-nav-item">Houses</a>
                    <a href="" class="mobile-nav-item">WareHouses</a>
                    <a href="" class="mobile-nav-item">Land</a>
               {% endif %}
                   
            </div>
        </div>
        
   </header>
   <main class="main">
       
       {% if messages %}
           {% for message in message %}
               <center>
                    <p class="red-text">{{message}}</p>
               </center>
           {% endfor %}
       {% endif %}
       {% block body %}
           
       {% endblock body %}  
   </main>
    <footer>
        <div class="footer-cols">
            <div class="logo">
                House Sale
            </div>
            <div class="footer-links">
                <a href="">Sign Up</a>
                <a href="">Login</a>
                <a href="">Houses</a>
                <a href="">Ware Houses</a>
                <a href="">Land</a>
            </div>
        </div>
        
    </footer>
    <script src="{% static 'house_app/js/index.js' %}"></script>
</body>
</html>