{% extends 'house_app/base.html' %}
{% block body %}
    <div class="dashboard">
            
            {% if messages %}
                
                {% for message in messages %}
                    <li class="alert alert-{{message.tags}}">{{ message }}</li>
                {% endfor %}
                    
            {% endif %}
                
            <div class="dash-welcome">
                <p class="red-text">Welcome {{request.user}}</p>
            </div>
            <div class="dash-container">
                <a href="{% url 'appl:create_house' %}" class="dash-link">&plus; Add house</a>
                <a href="{% url 'appl:view_houses' %}" class="dash-link">&#4967; View houses ({{houses.count}})</a>
                
            </div>
            <br>
            <div class="dash-container">
                <a href="{% url 'appl:create_warehouse' %}" class="dash-link">&plus; Add A warehouse</a>
                <a href="" class="dash-link">&#4967; View warehouse ({{warehouses.count}})</a>
            </div>
            <br>
            <div class="dash-container">
                <a href="{% url 'appl:create_land' %}" class="dash-link">&plus; Add land</a>
                <a href="" class="dash-link">&#4967; View Land ({{land.count}})</a>
            </div>
            
    </div>
{% endblock body %}
    