{% extends 'house_app/base.html' %}
{% block body %}
    <div class="container">
  
        {% for message in messages %}
                <li class="alert alert-{{message.tags}}">{{ message }}</li>
        {% endfor %}
        <h1 class="red-text">{{request.user}} |warehouse Admin</h1>
        <a href="{% url 'appl:create_warehouse' %}" class="add-btn">&plus; Add warehouse</a>
        <hr>
        <h2 class="red-text">Recently Added warehouses</h2>
        <table class="table table-striped table-responsive">
            <thead class="bg-red">
                <th>Description</th>
                <th>Location </th>
                <th>Price (UGX)</th>
                <th>Space (sq metres)</th>

            </thead>
            <tbody>
                
                {% for warehouse in warehouses %}
                    <tr>
                       <td> 
                           <a href="/update_warehouse/{{warehouse.pk}}">{{warehouse.name}}</a>
                        </td>
                        <td>{{warehouse.location}}</td>
                        <td>{{warehouse.format_price}}</td>
                        <td>{{ warehouse.space }}</td>
                    </tr>                    
                {% endfor %}
                    
            </tbody>
        </table>
    </div>
{% endblock body %}
    